html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.serif{font-family:serif}.sans-serif{font-family:sans-serif}.cursive{font-family:cursive}.monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

.portfolio_body{color:#fff!important;background-color:#000!important}
.sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.barblock
.small{font-size:12px!important}
@media(max-width:600px){.hide_small{display:none!important}}
.centered{text-align:center!important}
.bar_item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0; text-align:center;}
.button
.padding_large{padding:12px 24px!important}
.black, .hover_black:hover{color:#fff!important;background-color:#000!important}
@media(min-width:993px){.hide_large{display:none!important}}
@media(max-width:992) and (min-width:601px){.hide_medium{display:none!important}}
.topnav{position:fixed;width:100%;z-index:1}.topnav{top:0}
.topnav-centered
.main_content{padding:12px 24px!important}
.container:after,.container:before{content:"";display:table;clear:both}
.Large_title{font-size:64px!important}
.profile_image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.spaced_letters{letter-spacing:4px}
.content{margin-left:auto;margin-right:auto} .content{max-width:980px}
.download_cv_button
.projects_section
.project_item
.project_skills
.contact_item
.contact_icon

.text_grey{color:#757575!important}
.text_light_grey{color:#f1f1f1!important}

.padding_64{padding:64px!important}
.padding_32{padding:32px!important}
.padding_16{padding:16px!important}
.xxlarge{font-size:36px!important}